
# Object and binary files
obj/
bin/
*.o
*.gch

# CodeBlocks
*layout.cb*
*depend
*out
*.cbp

# Libraries
*.dll
*.luac
include/SDL2/
include/GL/

# Other
*Doxyfile
*.cppcheck
html/
*.txconf
lib/linux/lib*
